{% extends 'base.html' %} 
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style_about.css' %}">
{% endblock css %}

{% block About %}
<div class="Main_container">
  <div>
    <img src="{% static 'img2.jfif' %}" alt="profile_picture"class=""/>
  </div>
  <div class="profiel_info">
    <h1>Daniel Humm</h1>
    <p>
        Daniel Humm is an author, speaker, and the transformative chef and owner of Make It Nice, the New York-based hospitality group behind the highly acclaimed Eleven Madison Park and direct-to-consumer lifestyle brand Eleven Madison Home.
    </p>
  </div>
  <div class="Restaurant_info">
    <h2>About Restaurant</h2>
    <div>
        <p>
        <h5> History:</h5>
        The restaurant, initially designed by Bentel & Bentel, is located in the Metropolitan Life North Building, facing Madison Square, at the intersection of Madison Avenue and 24th Street. The restaurant originally opened in 1998 and was owned by restaurateur Danny Meyer. In 2006, Chef Daniel Humm and Will Guidara began working at Eleven Madison Park, and in 2011 they purchased it from Meyer.[5] The restaurant group's name is Make it Nice.[6]
        
        Eleven Madison Park was closed for renovation between June 9 and October 11, 2017, and completely redesigned, in collaboration with Allied Works architectural firm.[7]
        
        Guidara and Humm parted ways in 2019, and Humm remained on as the sole owner of Make it Nice.[8]
        
        The restaurant closed again during the COVID-19 pandemic, converting into a commissary kitchen to produce meals for the food-insecure in New York City, in cooperation with the non-profit Rethink Food. In October 2020, Eleven Madison Park began offering dinners for pickup for the first time. Every dinner purchased provides ten meals to New Yorkers experiencing food insecurity via the ongoing partnership with Rethink Food.[9]
        
        In June 2022, Business Insider reported the restaurant struggled with high employee turnover due to low wages and difficult working conditions, including 80-hour weeks.[10] Although workers started at $15 per hour, tipping was banned at the restaurant.[10]
        
        Former employees told Insider that there was a significant waste of produce that would be trashed if it was the wrong size or otherwise unused, rather than donated or composted.[10]
        
        </p>
       <h5> Menu:</h5>
        <p>Until the pandemic shut down in March 2020, the restaurant offered guests a seasonal tasting menu that drew inspiration from local culture, history, and ingredients. The menu in the dining room consisted of 8–10 courses, and an abbreviated experience at the bar consisted of 5 courses. Both of these menus featured communal elements to enhance the experience.[11] It was announced on May 3, 2021, that the restaurant would be eliminating all animal products, serving a strictly plant-based menu.[12] The restaurant began serving this menu in June 2021, to mixed reviews.[13][14]
        
            Cookbooks:
            The original Eleven Madison Park Cookbook was published in 2011;[15] Humm and Guidara have released additional cookbooks including I Love New York: Ingredients and Recipes,[16] The NoMad Cookbook,[17] Eleven Madison Park: The Next Chapter,[18] and Eleven Madison Park: The Next Chapter, Revised and Unlimited.[19]
            </p>
       
        <h5> Awards:</h5>
        <p> La Liste, the list of the 1,000 best restaurants in the world according to France's Foreign Ministry, ranked Eleven Madison Park 4th in the United States and 241st overall in its inaugural edition of December 2015.[20]
            Relais & Châteaux – Eleven Madison Park designated as Grand Chef, 2008[21]
            The New York Times – Four Stars, 2015[22] and 2009[23]
            James Beard Foundation Award – Outstanding Service, 2016;[24] Outstanding Chef, Daniel Humm, 2012;[24] Outstanding Pastry Chef, Angela Pinkerton, 2011;[24] Outstanding Restaurant, 2011;[24] and Best Chef: New York City, Daniel Humm, 2010[24]
            S. Pellegrino World's 50 Best Restaurants – Ranked #50 in 2010,[25] #24 in 2011,[26] #10 in 2012, #5 in 2013,[27] #4 in 2014,[27] #5 in 2015, #3 in 2016 and #1 in 2017.[27]
            Grand Table du Monde – 2014[28]
            Wine Spectator Grand Award – 2011–2016[29]
            AAA Five Star Award (2012–2022)[30]
            Forbes Travel Guide – Five Stars, 2010–2014[31]
            Michelin Guide – Three Stars, 2012–2022[32][33]
            Zagat – Rating of 28 in food, decor, and service in 2014. This makes it the top-ranked restaurant in the Flatiron District and one of the best restaurants in New York City.[34]
        </p>
       </div>
  </div>
</div>

{% endblock About %}
